<div class="dl-group" data-dl-group role="group" aria-label="Ways to get NONON">
  <a class="dl-opt" data-dl="windows" href="/download#windows" data-press>
    <span class="dl-opt__top"><span class="dl-opt__name">Windows</span>{{icon:down}}</span>
    <span class="dl-opt__sub" data-dl-sub="windows">Download for Windows 10 or 11 (64-bit).</span>
  </a>
  <a class="dl-opt" data-dl="macos" href="/download#mac" data-press>
    <span class="dl-opt__top"><span class="dl-opt__name">Mac</span>{{icon:down}}</span>
    <span class="dl-opt__sub" data-dl-sub="macos">Download for Macs with Apple silicon.</span>
  </a>
  <a class="dl-opt" data-dl="github" href="https://github.com/systoai-design/Nonon" target="_blank" rel="noopener" data-press>
    <span class="dl-opt__top"><span class="dl-opt__name">GitHub (public repository)</span>{{icon:link}}</span>
    <span class="dl-opt__sub"><b>Source code on GitHub.</b> Read, build or fork NONON. Free and open source, Apache 2.0.<span class="sr-only"> Opens in a new tab.</span></span>
  </a>
</div>
<p class="dl-note" data-dl-note>Free. Windows 10 or 11, or a Mac with Apple silicon.</p>
<p class="dl-note dl-note--version" data-dl-version></p>
